= simple_form_for @task do |f|
  - if @task.errors.any?
    .error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")}" + t('error_explanation_endind')
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title, label: t('input_task')

  %br
  = f.button :submit
